/* Hero Slider Styles */

.hero-slider {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: -2zpx 1px 5px rgb(129, 128, 128);
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.pagination-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.pagination-item.active {
  background-color: #333;
}

/* Terminal Name Styles */
#terminal-name {
  align-self: center;
  font-size: 35px;
  margin: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

.locations-container {
  padding: 0px 20px;
  background-color: #f9f9f9;
}

.locations-container h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.locations-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.locations-container li {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.locations-container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.locations-container h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.locations-container p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.locations-container .location-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.locations-container .location-info i {
  font-size: 14px;
  color: #666;
  margin-right: 10px;
}

.locations-container .rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.locations-container .rating i {
  font-size: 14px;
  color: #ffd700;
  margin-right: 10px;
}
.locations-container .fa-star {
  color: #ffd700;
  margin-right: 5px;
}
.locations-container .fa-map-marker-alt {
  color: #2ecc71;
  margin-right: 5px;
}
.hack-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 10px;
  border-radius: 15px;
  cursor: pointer;
  border-color: #f2a41c;
}

.hack-item i {
  font-size: 24px;
  margin-right: 10px;
  color: #ffcd18;
}

.hack-item p {
  margin: 0;
}
.location-item {
  position: relative;
  /* other styles... */
}

.location-tag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.location-tag.luxury {
  background-color: #05ff65;
  color: #fffdfd;
}

.location-sides {
  list-style: none;
  padding: 0;
  margin: 0;
}

.location-sides li {
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
  background-color: #f2a41c;
  color: white;
}
.location-item p {
  font-size: 15px;
  color: black;
}
.location-item img {
  height: 100;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.popup-slider {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.popup-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 00.5s;
}

.popup-slide.active {
  opacity: 1;
}

.popup-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-slide {
  left: 10px;
}

.next-slide {
  right: 10px;
}
